# データの読み込み・書き込み

In [1]:
import pandas as pd
df = pd.read_csv("data/202411health.csv")
df

            日付     歩数  摂取カロリー
0   2024-11-01   5439    2500
1   2024-11-02   2510    2300
2   2024-11-03  10238    1950
3   2024-11-04   8209    1850
4   2024-11-05   9434    1930
5   2024-11-06   7593    1800
6   2024-11-07   9320    1940
7   2024-11-08   4873    2300
8   2024-11-09  12045    1950
9   2024-11-10   7493    1850
10  2024-11-11   7289    1930
11  2024-11-12   6481    2300
12  2024-11-13  10287    1800
13  2024-11-14   8043    1940
14  2024-11-15   7435    2300
15  2024-11-16   7529    2300
16  2024-11-17   8031    1940
17  2024-11-18   8475    2300
18  2024-11-19   8132    1950
19  2024-11-20  15328    1800
20  2024-11-21  12849    1940
21  2024-11-22   4029    2300
22  2024-11-23   3890    1950
23  2024-11-24   8093    1850
24  2024-11-25   7823    1950
25  2024-11-26   7492    1850
26  2024-11-27   7203    1930
27  2024-11-28   7302    1850
28  2024-11-29   6033    2300
29  2024-11-30   4093    1950

In [2]:
df = pd.read_excel("data/202411health.xlsx")
df

            日付     歩数  摂取カロリー
0   2024-11-01   5439    2500
1   2024-11-02   2510    2300
2   2024-11-03  10238    1950
3   2024-11-04   8209    1850
4   2024-11-05   9434    1930
5   2024-11-06   7593    1800
6   2024-11-07   9320    1940
7   2024-11-08   4873    2300
8   2024-11-09  12045    1950
9   2024-11-10   7493    1850
10  2024-11-11   7289    1930
11  2024-11-12   6481    2300
12  2024-11-13  10287    1800
13  2024-11-14   8043    1940
14  2024-11-15   7435    2300
15  2024-11-16   7529    2300
16  2024-11-17   8031    1940
17  2024-11-18   8475    2300
18  2024-11-19   8132    1950
19  2024-11-20  15328    1800
20  2024-11-21  12849    1940
21  2024-11-22   4029    2300
22  2024-11-23   3890    1950
23  2024-11-24   8093    1850
24  2024-11-25   7823    1950
25  2024-11-26   7492    1850
26  2024-11-27   7203    1930
27  2024-11-28   7302    1850
28  2024-11-29   6033    2300
29  2024-11-30   4093    1950

In [4]:
len(tables)

NameError: name 'tables' is not defined