# 時系列データ

In [ ]:
import pandas as pd
import numpy as np
dates = pd.date_range(start="2025-04-01", 
                      end="2025-04-30")
dates

            乱数値
2025-04-01    1
2025-04-02   21
2025-04-03   18
2025-04-04    2
2025-04-05   28
2025-04-06    7
2025-04-07    8
2025-04-08    6
2025-04-09   11
2025-04-10    6
2025-04-11   11
2025-04-12   25
2025-04-13   14
2025-04-14   28
2025-04-15   14
2025-04-16    9
2025-04-17   24
2025-04-18   25
2025-04-19   26
2025-04-20   27
2025-04-21    1
2025-04-22   16
2025-04-23    9
2025-04-24    8
2025-04-25    8
2025-04-26   25
2025-04-27   24
2025-04-28    7
2025-04-29   13
2025-04-30   23

In [4]:
rng = np.random.default_rng(123)
df = pd.DataFrame(rng.integers(1, 31, size=30), 
                  index=dates, 
                  columns=["乱数値"])
df

            乱数値
2025-04-01    1
2025-04-02   21
2025-04-03   18
2025-04-04    2
2025-04-05   28
2025-04-06    7
2025-04-07    8
2025-04-08    6
2025-04-09   11
2025-04-10    6
2025-04-11   11
2025-04-12   25
2025-04-13   14
2025-04-14   28
2025-04-15   14
2025-04-16    9
2025-04-17   24
2025-04-18   25
2025-04-19   26
2025-04-20   27
2025-04-21    1
2025-04-22   16
2025-04-23    9
2025-04-24    8
2025-04-25    8
2025-04-26   25
2025-04-27   24
2025-04-28    7
2025-04-29   13
2025-04-30   23

In [ ]:
# 日付の生成
dates = pd.date_range(start="2025-01-01", periods=365)
dates

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06', '2025-01-07', '2025-01-08',
               '2025-01-09', '2025-01-10',
               ...
               '2025-12-22', '2025-12-23', '2025-12-24', '2025-12-25',
               '2025-12-26', '2025-12-27', '2025-12-28', '2025-12-29',
               '2025-12-30', '2025-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')