# データの整形

In [1]:
import pandas as pd
import numpy as np

df = pd.read_excel("data/202411health.xlsx")
df

            日付     歩数  摂取カロリー
0   2024-11-01   5439    2500
1   2024-11-02   2510    2300
2   2024-11-03  10238    1950
3   2024-11-04   8209    1850
4   2024-11-05   9434    1930
5   2024-11-06   7593    1800
6   2024-11-07   9320    1940
7   2024-11-08   4873    2300
8   2024-11-09  12045    1950
9   2024-11-10   7493    1850
10  2024-11-11   7289    1930
11  2024-11-12   6481    2300
12  2024-11-13  10287    1800
13  2024-11-14   8043    1940
14  2024-11-15   7435    2300
15  2024-11-16   7529    2300
16  2024-11-17   8031    1940
17  2024-11-18   8475    2300
18  2024-11-19   8132    1950
19  2024-11-20  15328    1800
20  2024-11-21  12849    1940
21  2024-11-22   4029    2300
22  2024-11-23   3890    1950
23  2024-11-24   8093    1850
24  2024-11-25   7823    1950
25  2024-11-26   7492    1850
26  2024-11-27   7203    1930
27  2024-11-28   7302    1850
28  2024-11-29   6033    2300
29  2024-11-30   4093    1950

In [ ]:
# 歩数が10000以上のデータを取得　→ ブールインデックス
df.loc[:, "歩数"] >= 10000

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8      True
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19     True
20     True
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
Name: 歩数, dtype: bool

In [ ]:
# 歩数が10000以上のデータを取得
df_selected = df.loc[df.loc[:, "歩数"] >= 10000, :]
df_selected

            日付     歩数  摂取カロリー
2   2024-11-03  10238    1950
8   2024-11-09  12045    1950
12  2024-11-13  10287    1800
19  2024-11-20  15328    1800
20  2024-11-21  12849    1940

In [5]:
# 歩数が10000以上かつ摂取カロリーが1800以下のデータを取得
df.query("歩数 >= 10000 and 摂取カロリー <= 1800")

            日付     歩数  摂取カロリー
12  2024-11-13  10287    1800
19  2024-11-20  15328    1800

In [6]:
df.dtypes

日付        object
歩数         int64
摂取カロリー     int64
dtype: object

In [ ]:
# 日付を日付型に変換
df["date"] = df.loc[:, "日付"].apply(pd.to_datetime)
df.loc[:, "date"]

KeyError: '日付'

In [ ]:
# 摂取カロリーを浮動小数点型に変換
df["摂取カロリー"] = df.loc[:, "摂取カロリー"].astype(
                                        np.float32)
# 日付をインデックスに設定
df = df.set_index("date")
df.head()

                    日付     歩数  摂取カロリー
date
2024-11-01  2024-11-01   5439  2500.0
2024-11-02  2024-11-02   2510  2300.0
2024-11-03  2024-11-03  10238  1950.0
2024-11-04  2024-11-04   8209  1850.0
2024-11-05  2024-11-05   9434  1930.0

In [ ]:
# 歩数でソート
df.sort_values(by="歩数")

                    日付     歩数  摂取カロリー
date
2024-11-02  2024-11-02   2510  2300.0
2024-11-23  2024-11-23   3890  1950.0
2024-11-22  2024-11-22   4029  2300.0
2024-11-30  2024-11-30   4093  1950.0
2024-11-08  2024-11-08   4873  2300.0
2024-11-01  2024-11-01   5439  2500.0
2024-11-29  2024-11-29   6033  2300.0
2024-11-12  2024-11-12   6481  2300.0
2024-11-27  2024-11-27   7203  1930.0
2024-11-11  2024-11-11   7289  1930.0
2024-11-28  2024-11-28   7302  1850.0
2024-11-15  2024-11-15   7435  2300.0
2024-11-26  2024-11-26   7492  1850.0
2024-11-10  2024-11-10   7493  1850.0
2024-11-16  2024-11-16   7529  2300.0
2024-11-06  2024-11-06   7593  1800.0
2024-11-25  2024-11-25   7823  1950.0
2024-11-17  2024-11-17   8031  1940.0
2024-11-14  2024-11-14   8043  1940.0
2024-11-24  2024-11-24   8093  1850.0
2024-11-19  2024-11-19   8132  1950.0
2024-11-04  2024-11-04   8209  1850.0
2024-11-18  2024-11-18   8475  2300.0
2024-11-07  2024-11-07   9320  1940.0
2024-11-05  2024-11-05   9434  1930.0
2024-11-03  2024-11-03  10238  1950.0
2024-11-13  2024-11-13  10287  1800.0
2024-11-09  2024-11-09  12045  1950.0
2024-11-21  2024-11-21  12849  1940.0
2024-11-20  2024-11-20  15328  1800.0

In [14]:
df.sort_values(by="歩数", ascending=False)

                    日付     歩数  摂取カロリー
date
2024-11-20  2024-11-20  15328  1800.0
2024-11-21  2024-11-21  12849  1940.0
2024-11-09  2024-11-09  12045  1950.0
2024-11-13  2024-11-13  10287  1800.0
2024-11-03  2024-11-03  10238  1950.0
2024-11-05  2024-11-05   9434  1930.0
2024-11-07  2024-11-07   9320  1940.0
2024-11-18  2024-11-18   8475  2300.0
2024-11-04  2024-11-04   8209  1850.0
2024-11-19  2024-11-19   8132  1950.0
2024-11-24  2024-11-24   8093  1850.0
2024-11-14  2024-11-14   8043  1940.0
2024-11-17  2024-11-17   8031  1940.0
2024-11-25  2024-11-25   7823  1950.0
2024-11-06  2024-11-06   7593  1800.0
2024-11-16  2024-11-16   7529  2300.0
2024-11-10  2024-11-10   7493  1850.0
2024-11-26  2024-11-26   7492  1850.0
2024-11-15  2024-11-15   7435  2300.0
2024-11-28  2024-11-28   7302  1850.0
2024-11-11  2024-11-11   7289  1930.0
2024-11-27  2024-11-27   7203  1930.0
2024-11-12  2024-11-12   6481  2300.0
2024-11-29  2024-11-29   6033  2300.0
2024-11-01  2024-11-01   5439  2500.0
2024-11-08  2024-11-08   4873  2300.0
2024-11-30  2024-11-30   4093  1950.0
2024-11-22  2024-11-22   4029  2300.0
2024-11-23  2024-11-23   3890  1950.0
2024-11-02  2024-11-02   2510  2300.0

In [15]:
df = df.drop("日付", axis=1)

In [16]:
df.tail()

              歩数  摂取カロリー
date
2024-11-26  7492  1850.0
2024-11-27  7203  1930.0
2024-11-28  7302  1850.0
2024-11-29  6033  2300.0
2024-11-30  4093  1950.0

In [ ]:
# 歩数/カロリーを計算
df["歩数/カロリー"] = (df.loc[:, "歩数"] / 
                     df.loc[:, "摂取カロリー"])
df

               歩数  摂取カロリー   歩数/カロリー
date
2024-11-01   5439  2500.0  2.175600
2024-11-02   2510  2300.0  1.091304
2024-11-03  10238  1950.0  5.250256
2024-11-04   8209  1850.0  4.437297
2024-11-05   9434  1930.0  4.888083
2024-11-06   7593  1800.0  4.218333
2024-11-07   9320  1940.0  4.804124
2024-11-08   4873  2300.0  2.118696
2024-11-09  12045  1950.0  6.176923
2024-11-10   7493  1850.0  4.050270
2024-11-11   7289  1930.0  3.776684
2024-11-12   6481  2300.0  2.817826
2024-11-13  10287  1800.0  5.715000
2024-11-14   8043  1940.0  4.145876
2024-11-15   7435  2300.0  3.232609
2024-11-16   7529  2300.0  3.273478
2024-11-17   8031  1940.0  4.139691
2024-11-18   8475  2300.0  3.684783
2024-11-19   8132  1950.0  4.170256
2024-11-20  15328  1800.0  8.515556
2024-11-21  12849  1940.0  6.623196
2024-11-22   4029  2300.0  1.751739
2024-11-23   3890  1950.0  1.994872
2024-11-24   8093  1850.0  4.374595
2024-11-25   7823  1950.0  4.011795
2024-11-26   7492  1850.0  4.049730
2024-11-27   7203  1930.0  3.732124
2024-11-28   7302  1850.0  3.947027
2024-11-29   6033  2300.0  2.623043
2024-11-30   4093  1950.0  2.098974